/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CTRL_ALT 0

/ {
         macros {
             writequit: writequit {
                 compatible = "zmk,behavior-macro";
                 #binding-cells = <0>;
                 bindings
                     = <&macro_tap &kp COLON &kp W &kp Q &kp RET>;
             };
             write: write {
                 compatible = "zmk,behavior-macro";
                 #binding-cells = <0>;
                 bindings
                     = <&macro_tap &kp COLON &kp W &kp RET>;
             };
         };
         conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                    if-layers = <1 2>;
                    then-layer = <3>;
                };
         };

         behaviors {
          weak: weak {
                compatible = "zmk,behavior-hold-tap";
                bindings = <&kp>, <&kp>;
 
                #binding-cells = <2>;
                tapping-term-ms = <230>;
                flavor = "tap-preferred";
                require-prior-idle-ms = <125>;
                quick-tap-ms = <230>;
          };
          
          cap_dance: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPSLOCK>;
          };

          td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt RSHIFT CAPSLOCK>, <&kp RCTRL>;
          };
        };
        
        // REFERENCE
        // --------------------------------------------------------------------------          -----------------------------------------------------------------------------
        // |   0 			  |   1  			|   2  			|   3  			|   4  			|   5  			|          |   6  			|   7   			|   8  			|   9  			|   10  			|  11 			| 
        //	 &kp TAB   		 &kp Q 		   &kp W 		   &kp E 		   &kp R 		   &kp T   	              &kp Y 		   &kp U  		   &kp I     		&kp O   		&kp P    	  &kp BSPC
        // --------------------------------------------------------------------------          -----------------------------------------------------------------------------
        // |   12 			|   13  		|   14  		|   15  		|   16  		|   17  		|          |   18  			|   19   			|   20  		|   21  		|   22  			|   23   		| 
        // 	 &kp LCTRL 		 &kp A 		   &kp S 		   &kp D 		   &kp F 		   &kp G   	              &kp H 		   &kp J  		   &kp K     		&kp L   		&kp SEMI 	 &kp SQT
        // --------------------------------------------------------------------------          -----------------------------------------------------------------------------
        // |   24 			|   25  		|   26  		|   27  		|   28  		|   29  		|          |   30  			|   31   			|   32  		|   33  		|   34  			|  35  			| 
        // 	 &kp LSHFT 		 &kp Z 		   &kp X 		   &kp C 		   &kp V 		   &kp B   	              &kp N 		   &kp M  		   &kp COMMA 		&kp DOT 		&kp FSLH 	 &kp ESC
        // --------------------------------------------------------------------------          -----------------------------------------------------------------------------
        //                    			            |  36 			|  37 			|  38 			|          |  39 			  |  40  			  |  41 			| 
        //                 		                     &kp LGUI    &mo 1 		   &kp SPACE              &kp RET     &mo 2 		     &td_mt
        // --------------------------------------------------------------------------          -----------------------------------------------------------------------------
        
        combos {
            compatible = "zmk,combos";

            wrtie_quit {
                bindings = <&writequit >;
                key-positions = < 2 22>;
            };
            write {
                bindings = <&write>;
                key-positions = < 0 1 2>;
            };

            display_move {
                bindings = <&kp LG(LC(LA(LEFT)))>;
                key-positions = < 24 25 26 >;
            };
        
            cycle_app {
                bindings = <&mt LC(LALT) LG(GRAVE)>;
                key-positions = < 36 12>;
            };
        
            escape {
                bindings = <&gresc>;
                key-positions = <19 20>;
            };
        
            delete {
                bindings = <&kp DEL>;
                key-positions = <15 16>;
            };
        
            copy {
                bindings = <&kp LG(C)>;
                key-positions = <26 27>;
            };
        
            paste {
                bindings = <&kp LG(V)>;
                key-positions = <27 28>;
            };
        
            cut {
                bindings = <&kp LG(X)>;
                key-positions = <26 28>;
            };
        
            vol-up {
                bindings = <&kp C_VOL_UP>;
                key-positions = <10 11>;
            };
        
            vol-down {
                bindings = <&kp C_VOL_DN>;
                key-positions = <22 23>;
            };
        
            select-all {
                bindings = <&kp LG(A)>;
                key-positions = <12 13>;
            };
        
            scroll-up {
                bindings = <&kp UP>;
                key-positions = <7 10>;
            };
        
            scroll-down {
                bindings = <&kp DOWN>;
                key-positions = <31 34>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// --------------------------------------------------------------------------          -----------------------------------------------------------------------------
// |   TAB 			|   Q  			|   W  			|   E  			|   R  			|   T  			|          |   Y  			|   U   			|   I  			|   O  			|   P  			|  BKSP 			| 
 		 &kp TAB   		 &kp Q 		   &kp W 		   &kp E 		   &kp R 		   &kp T   	              &kp Y 		   &kp U  		   &kp I     		&kp O   		&kp P    	 &kp BSPC
// --------------------------------------------------------------------------          -----------------------------------------------------------------------------
// |  CTRL 			|   A  			|   S  			|   D  			|   F  			|   G  			|          |   H  			|   J   			|   K  			|   L  			|   ;  			|   ENT 			| 
 		 &kp LCTRL 		 &kp A 		   &kp S 		   &kp D 		   &kp F 		   &kp G   	              &kp H 		   &kp J  		   &kp K     		&kp L   		&kp SEMI 	 &kp RET
// --------------------------------------------------------------------------          -----------------------------------------------------------------------------
// |  SHFT 			|   Z  			|   X  			|   C  			|   V  			|   B  			|          |   N  			|   M   			|   ,  			|   .  			|   /  			|   ' 		  	| 
 		 &cap_dance 		 &kp Z 		   &kp X 		   &kp C 		   &kp V 		   &kp B   	            &kp N 		   &kp M  		  &kp COMMA 		&kp DOT 		&kp FSLH 	 &kp SQT
// --------------------------------------------------------------------------          -----------------------------------------------------------------------------
//                    			            |  GUI 			|  LWR 			|  SPC 			|          |  SHIFT			|  RSE  			|  ALT 			| 
                  		                     &kp LGUI    &mo 1 		   &kp SPACE              &kp LSHFT     &mo 2 		   &td_mt
// --------------------------------------------------------------------------          -----------------------------------------------------------------------------
                        >;
                };
                lower_layer {
                        bindings = <
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |   TAB 			|   1  		    	|   2  		    	|   3     			|   4  	    		|   5  	    		|          |   6  			|   7  			|   8  			|   9  			|   0  			|  BKSP 			| 
   		&kp TAB    	 &kp N1       	 &kp N2       	 &kp N3       	 &kp N4       	 &kp N5                      &kp N6   	 &kp N7   	 &kp N8 		 &kp N9    		&kp N0 		 &kp BSPC
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |       			|      		    	|      		    	|         			|      	    		|      	    		|          |   -  			  |   =  			  |   [  			  |   ]  			  |   \  			  |   +   			  | 
      &trans      &trans          &trans          &trans          &trans          &trans                      &kp MINUS 		&kp EQUAL 		&kp LBKT  		&kp RBKT 		 &kp BSLH 		 &kp PLUS
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |       			|      		    	|      		    	|         			|      	    		|      	    		|          |   _  			  |   ~  			  |   {  			  |   }  			  |  "|"        |   ~   			  | 
   		&trans      &trans          &trans          &trans          &trans          &trans                     &kp UNDER 		&kp TILDE  		&kp LBRC  		&kp RBRC 		 &kp PIPE 		 &kp TILDE        
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
//                                			        |  GUI 			    |      			    |  SPC 			    |          |  ENT 			|      			|  ALT 			| 
                                    		           &kp LGUI        &trans       	 &kp SPACE                   &kp LSHFT    &trans      &td_mt
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
                        >;
                };

                raise_layer {
                        bindings = <
// --------------------------------------------------------------------------------------          ---------------------------------------------------------------------------------------
// |   TAB 			  |   !  		  	|   @  			  |   #  			  |   $  			  |   %  			  |          |   ^  			  |   &  			  |   *  			  |   (  			  |   )  			  |  BKSP 			  | 
   		&kp  TAB        &kp EXCL      &kp AT       &kp HASH      &kp DLLR      &kp PRCNT                &kp CARET 		&kp AMPS  		&kp ASTRK 		&kp LPAR 		 &kp RPAR 		 &kp BSPC
// --------------------------------------------------------------------------------------          ---------------------------------------------------------------------------------------
// |       			  |      		  	|      			  |      			  |      			  |      			  |          |  LFT 			|  DWN 			|   UP 			|  RGT 			|      			|       			| 
   		&trans       &trans        &trans       &trans        &trans        &trans                    &kp LEFT 	 &kp DOWN 	 &kp UP 		 &kp RIGHT    &trans      &trans      
// --------------------------------------------------------------------------------------          ---------------------------------------------------------------------------------------
// |       			  |      		  	|      			  |      			  |      			  |      			  |          |      			|      			|      			|      			|      			|       			| 
   		&trans       &trans        &trans       &trans        &trans        &trans                   &trans     &trans      &trans      &trans       &trans      &trans
// --------------------------------------------------------------------------------------          ---------------------------------------------------------------------------------------
//                                 			      |  GUI 			  |       			|  SPC 			  |          |  ENT 			  |      			  |  ALT 			  | 
                             		                 &kp LGUI      &trans   		 &kp SPACE                &kp LSHFT      &trans    		&td_mt
// --------------------------------------------------------------------------------------          ---------------------------------------------------------------------------------------
                        >;
                };

                adjust_layer {
                        bindings = <
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |   F1 			|   F2  		    |   F3  		    |   F4     	    |   F5  	      |   F6  	      |          |   F7  			|   F8  		|   F9  		|   F10  		|   F11  		|  F12 			  | 
   	  &kp F1 			 &kp F2  		     &kp F3  		     &kp F4     	   &kp F5  	       &kp F6  	                  &kp F7  		 &kp F8  		 &kp F9  		 &kp F10  	 &kp F11  	&kp F12  
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |  BTCLR			|  BT1 		    	|  BT2 		    	|  BT3    			|  BT4 	    		|  BT5 	    		|          |  BrightnessUp 			|  BrightnessDown 			|   UP 			|  RGT 			|      			|       			| 
      &bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4              &kp C_BRIGHTNESS_INC 	   &kp C_BRIGHTNESS_DEC 	 &kp UP 		 &kp RIGHT    &trans      &sys_reset
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
// |  SHFT 			|      		    	|      		    	|         			|      	    		|      	    		|          |      			|      			|      			|      			|      			|       			| 
   		&trans       &trans          &trans          &trans          &trans          &trans                      &trans     &trans      &trans      &trans       &trans      &trans
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
//                                			        |  GUI 			    |      			    |  SPC 			    |          |  ENT 			|      			|  ALT 			| 
                                    		           &kp LGUI        &trans       	 &kp SPACE                   &kp LSHFT    &trans      &td_mt
// ----------------------------------------------------------------------------------------------          ---------------------------------------------------------------------------
                        >;
                };
        };
};
